// Fonts
$font-common: 'Inter', 'Verdana', sans-serif;
$font-headers: 'Inika', 'Verdana', serif;

// Layout colors
$background-color: #edf2ec;
$background-color-section: #ffffff;
$primary-color: #636060;
$additional-color: #717171;
$link-nav: #010201;
$link-selected: #e06733;
// Headers-color
$headers-color: #717171;
$headers-highlighted: #499a18;
// Border colors
$border-color: #e06733;
$border-color-prices: #e3e1d5;
$border-color-add: #aea1a1;

// Common colors
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #e06733;
$color-light-green: #d6e7d2;

// Device sizes
$content-width: 1222px;
$tablet-width: 768px;
$mobile-small-width: 380px;
// Custom sizes
$custom-large-width: 850px;
$custom-width: 542px;
$custom-small-width: 342px;

// Modal
$colorViolet: #7752be;
$colorLight: #ffffff;
$colorOverlay: rgba(80, 80, 80, 0.4);