%transition {
  transition: all 0.3s ease-out;
}

// It'll work only in Chrome
%custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $colorViolet;
    border-radius: 10px;
  }
}